<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <div class="f-info-brand">
            &copy; Unwind Stays Private Limited
        </div>

        <div class="f-info-links">
            <a>Privacy</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a>Terms</a>
        </div>

        <div class="f-info-madeby">
            Made by Abbas Kharodawala
        </div>
    </div>
</footer>
